@tailwind base;
@tailwind components;
@tailwind utilities;

.log-sign-bg {
    background: linear-gradient(120deg, #885bae, #d3b6e6, #d0b3e3, #885bae);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
   
  }
  .para{
    margin-left: 13.4rem;
    margin-top: 2rem;
    color: #999;
  }